.footer {
  background: linear-gradient(90deg, #007bff, #00b4d8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 12px 20px;
  flex-shrink: 0;
  z-index: 100;
}

.footer img {
  width: 45px;
  height: 45px;
}

.footer span {
  margin: 4px 0;
}